# Cleaning the Data

#### This code cleans the raw csv data file of the Store Mindful Mom Art obtained from Etsy. The Data is from January 1st to July 15th 2020 .
#### The data cleaning consists of elaborate steps to make the data more readable and easier to manipulate.

Obs: The raw csv file has been altered before uploading in this repository in order to protect the names and addresses of the buyers.

In [1]:
# Let's import pandas
import pandas as pd

In [2]:
# Let's read the raw data file and save it in a dataframe named df
df = pd.read_csv('EtsySoldOrderItems2020.csv', parse_dates = ['Sale Date', 'Date Paid', 'Date Shipped'])

In [3]:
df.head(2)

,Sale Date,Item Name,Buyer,Quantity,Price,Coupon Code,Coupon Details,Discount Amount,Shipping Discount,Order Shipping,...,Ship Country,Order ID,Variations,Order Type,Listings Type,Payment Type,InPerson Discount,InPerson Location,VAT Paid by Buyer,SKU
0,2020-07-15,"Cloth Face Mask - Fabric 100% Cotton, Washable...",NaN,1,14.0,NaN,NaN,0.0,0.0,3.64,...,United States,NaN,Pattern:7-13 years old,online,listing,online_cc,NaN,NaN,0,NaN
1,2020-07-15,"Cloth Face Mask, Cotton Face Mask, Fashion Fac...",NaN,1,16.0,NaN,NaN,0.0,0.0,3.54,...,United States,NaN,Pattern:Adults,online,listing,online_cc,NaN,NaN,0,NaN

In [4]:
# Let's delete some columns that won't be used in our analysis. 
df.drop(['Buyer','Coupon Code', 'Coupon Details', 'Discount Amount', 'Order ID', 'Order Type', 'Listings Type', 
         'Payment Type', 'InPerson Discount', 'InPerson Location', 'VAT Paid by Buyer', 'SKU', 'Transaction ID', 
         'Ship Name', 'Ship Address1', 'Ship Address2', 'Listing ID', 'Currency', 'Order ID'], inplace = True, axis = 1)

In [5]:
df.head(2)

,Sale Date,Item Name,Quantity,Price,Shipping Discount,Order Shipping,Order Sales Tax,Item Total,Date Paid,Date Shipped,Ship City,Ship State,Ship Zipcode,Ship Country,Variations
0,2020-07-15,"Cloth Face Mask - Fabric 100% Cotton, Washable...",1,14.0,0.0,3.64,0.0,14.0,2020-07-15,NaT,SARASOTA,FL,NaN,United States,Pattern:7-13 years old
1,2020-07-15,"Cloth Face Mask, Cotton Face Mask, Fashion Fac...",1,16.0,0.0,3.54,0.0,16.0,2020-07-15,NaT,Washington,DC,NaN,United States,Pattern:Adults

#### Import the Item key/value new Item Names.
The column two (Item Name) from the dataframe df presents long and non-efficient names for the items sold in the store. The Excel file "NewItemNames" presents all of the Item Names and the New Item Names optimized. The New Item Names describes the Item Type and also the Fabric Pattern chosen.

In [6]:
# Let's read the excel file and save it in a dataframe named nc
nc = pd.read_excel('NewItemNames.xlsx')

In [7]:
# Logic that replaces the Item Name for the New Item Name
for i in range(0,len(nc)):
    df['Item Name'] =  df['Item Name'].str.replace(nc.iloc[i,0], nc.iloc[i,1])
mask1 = 'Cloth Face Mask, Cotton Face Mask, Fashion Face Mask, Reusable Face Mask'
mask2 = 'Cotton Face Mask, Fashion Face Mask, Reusable Face Mask, Cloth Face Mask- Anti-Pollution & Anti-Dust'
df['Item Name'] =  df['Item Name'].str.replace(mask1, 'Mask - Sketch Art')
df['Item Name'] =  df['Item Name'].str.replace(mask2, 'Mask - Sketch Art')

In [8]:
df['Item Name'].head()

0           Mask - Unicorns
1               Mask - Cats
2            Mask - Daisies
3    Mask - Bananas on Pink
4    Mask - Bananas on Pink
Name: Item Name, dtype: object

In [9]:
# Let's add a new column named Item Type 
# First let's Create an Empty Column 
df['Item Type'] = ''

In [10]:
# Now let's apply a logic to name each item type (e.g.Mask, Teething Ring, etc)
for i in range(0,len(df)):
    df.loc[i, 'Item Type'] =  df.iloc[i,1].split('-')[0].strip()

In [11]:
df['Item Type'].sample(5)

178    Mask
275    Mask
582    Mask
914    Mask
12     Mask
Name: Item Type, dtype: object

In [12]:
# Let's change the Variations Text to better definitions
df['Variations'] = df['Variations'].str.strip().str.lower()

In [13]:
# Remove the word pattern and change the names to kids(7-19 years old) and toddles(3-6 years old)
df['Variations']=  df['Variations'].str.replace('pattern:teens', 'Teens')
df['Variations']=  df['Variations'].str.replace('pattern:7-13 years old', 'Kids')
df['Variations']=  df['Variations'].str.replace('pattern:adults', 'Adults')
df['Variations']=  df['Variations'].str.replace('pattern:3-6 years old', 'Toddlers')
df['Variations']=  df['Variations'].str.replace('teens and adults', 'Adults')

In [14]:
df['Variations'].head()

0      Kids
1    Adults
2    Adults
3     Teens
4      Kids
Name: Variations, dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sale Date          1073 non-null   datetime64[ns]
 1   Item Name          1073 non-null   object
 2   Quantity           1073 non-null   int64
 3   Price              1073 non-null   float64
 4   Shipping Discount  1073 non-null   float64
 5   Order Shipping     1073 non-null   float64
 6   Order Sales Tax    1073 non-null   float64
 7   Item Total         1073 non-null   float64
 8   Date Paid          1073 non-null   datetime64[ns]
 9   Date Shipped       1065 non-null   datetime64[ns]
 10  Ship City          1073 non-null   object
 11  Ship State         1069 non-null   object
 12  Ship Zipcode       0 non-null      float64
 13  Ship Country       1073 non-null   object
 14  Variations         904 non-null    object
 15  Item Type          1073 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(1), object(6)
memory usage: 134.2+ KB

In [16]:
#Let's use the astype method to reduce the size of our data
df["Item Name"] = df["Item Name"].astype("category")
df["Ship State"] = df["Ship State"].astype("category")
df["Ship Country"] = df["Ship Country"].astype("category")
df["Variations"] = df["Variations"].astype("category")
df["Item Type"] = df["Item Type"].astype("category")
df["Quantity"] = df["Quantity"].astype("int")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sale Date          1073 non-null   datetime64[ns]
 1   Item Name          1073 non-null   category
 2   Quantity           1073 non-null   int32
 3   Price              1073 non-null   float64
 4   Shipping Discount  1073 non-null   float64
 5   Order Shipping     1073 non-null   float64
 6   Order Sales Tax    1073 non-null   float64
 7   Item Total         1073 non-null   float64
 8   Date Paid          1073 non-null   datetime64[ns]
 9   Date Shipped       1065 non-null   datetime64[ns]
 10  Ship City          1073 non-null   object
 11  Ship State         1069 non-null   category
 12  Ship Zipcode       0 non-null      float64
 13  Ship Country       1073 non-null   category
 14  Variations         904 non-null    category
 15  Item Type          1073 non-null   category
dtypes: category(5), datetime64[ns](3), float64(6), int32(1), object(1)
memory usage: 104.2+ KB

In [18]:
#Let's save our cleaned data in a csv file
df.to_csv('DataCleaned.csv')